pre {
    display: block;
    background-color: #282c34;
    color: #fff;
    padding: 20px 24px;
    padding-left:40px;
    text-align: left;
    font-family: Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
    border: 1px solid transparent;
    line-height: 1.4;
    transition: all 0.3s;
    font-size: 14px;
    border-radius: 5px;
    overflow-x: auto;
    margin: 13px 0;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    tab-size:0
}
pre code {
    font-family: inherit;
    color: #fff;
}
code {
	margin-left:-40px;
}
.token.block-comment, .token.cdata, .token.comment, .token.doctype, .token.prolog {
    color: #999
}
.token.punctuation {
    color: #ccc
}
.token.attr-name, .token.deleted, .token.namespace, .token.tag {
    color: #e2777a
}
.token.function-name {
    color: #6196cc
}
.token.boolean, .token.function, .token.number {
    color: #f08d49
}
.token.class-name, .token.constant, .token.property, .token.symbol {
    color: #f8c555
}
.token.atrule, .token.builtin, .token.important, .token.keyword, .token.selector {
    color: #cc99cd
}
.token.attr-value, .token.char, .token.regex, .token.string, .token.variable {
    color: #7ec699
}
.token.entity, .token.operator, .token.url {
    color: #67cdcc
}
.token.bold, .token.important {
    font-weight: 700
}
.token.italic {
    font-style: italic
}
.token.entity {
    cursor: help
}
.token.inserted {
    color: green
}